ipykernel
ibm-watsonx-ai
ibm-cloud-sdk-core
flask
flask-session
flask_socketio
diacritization-evaluation==0.5
tqdm==4.56.0
pyarabic
keras==2.10
tensorflow==2.10
termcolor
ipython
scikit-learn
datasets
sentence_transformers
tkseem
gdown
ruamel.yaml
matplotlib